<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 23:47:43 GMT+0000 (UTC) -->
<html data-wf-site="52f3116d5d8eed2b6b00065c">
<head>
  <meta charset="utf-8">
  <title>Sleeprite - Schedule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/ubersleep.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700","Lato:100,300,400,700,900"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body>

  <script>
  var query = window.location.search;
  // Skip the leading ?, which should always be there, 
  // but be careful anyway
  if (query.substring(0, 1) == '?') {
    query = query.substring(1);
  }
  var data = query.split(','); 
  for (i = 0; (i < data.length); i++) {
    data[i] = decodeURI(data[i]);
  }
</script>
<h1>Schedule
<script>
document.write(data[0] + "\n")
</script>
</h1>

<!--<div class="form-group">
   <label for="date">Date:</label>
   <input type="date" class="form-control" id="date" placeholder="">
</div>-->

<script>
function reloadSchedule()
{
  var dateToSend = encodeURI(document.getElementById("date").value);
  var json = {
     'date': document.getElementById("date").value
  };
  $.post('/schedule/render', json, function() {
    window.location.href = 'schedule?' + dateToSend; // reload the page
   });

}
</script>
<!--<a id= "reloadSchedBtn" class = "new-button-class" href="javascript:reloadSchedule();"> Change Date</a>-->

  <header class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 subfooter-left">
          <!--<div class="app-name">Today's
            <br>
            <br>Schedule</div>
        </div>-->
        <div class="w-col w-col-8 nav-column">
          <a class="w-hidden-small w-hidden-tiny w-inline-block app-store-button" href="http://apple.com">
            <img src="images/appstore.png" width="114px" alt="52af8cf8aae9d4d567000057_appstore.png">
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="section white" id="page-nav-organize"></div>
  <div class="section subfooter white"></div>
  
  {{#each events}}
    <script>
      function getStartTime() {
        var minutesFromMidnight = 30 * {{start_time}};
        var hoursFromMidnight = Math.floor(minutesFromMidnight/60);
        var minutes = ":00";
        var amOrPm = "AM";
        if (minutesFromMidnight % 60 == 30) {
          minutes = ":30";
        }
        if (hoursFromMidnight == 0) {
          hoursFromMidnight = 12;
          var returnValue = hoursFromMidnight + minutes + amOrPm;
          return returnValue;
        }
        if (hoursFromMidnight > 11) {
          hoursFromMidnight = hoursFromMidnight - 12;
          amOrPm = "PM";
          var returnValue = hoursFromMidnight + minutes + amOrPm;
          return returnValue;
        }
        var returnValue = hoursFromMidnight + minutes + amOrPm;
        return returnValue;
      }

      function getEndTime() {
        if ({{end_time}} == 48) {
          return "12:00AM"
        }
        var minutesFromMidnight = 30 * {{end_time}};
        var hoursFromMidnight = Math.floor(minutesFromMidnight/60);
        var minutes = ":00";
        var amOrPm = "AM";
        if (minutesFromMidnight % 60 == 30) {
          minutes = ":30";
        }
        if (hoursFromMidnight == 0) {
          hoursFromMidnight = 12;
          var returnValue = hoursFromMidnight + minutes + amOrPm;
          return returnValue;
        }
        if (hoursFromMidnight > 11) {
          hoursFromMidnight = hoursFromMidnight - 12;
          amOrPm = "PM";
          var returnValue = hoursFromMidnight + minutes + amOrPm;
          return returnValue;
        }
        var returnValue = hoursFromMidnight + minutes + amOrPm;
        return returnValue;
      }

    </script>
    <p>{{date}}<br> Event: {{event}}<br>
  Start time: 
      <script>document.write(getStartTime())</script>    End time: 
      <script>document.write(getEndTime())</script>
    <br>
Description: {{description}}<br></p>
<script>
//pass in {{_id}} instead.
  document.write("<a id= \"delete{{event}}\" class = \"new-button-class\" href=\"delete?date={{date}}&event={{event}}\"> Delete Event</a>");
</script>
    <br><br>


  {{/each}}

<!--
  <div class="time-field">11 AM - 1 PM</div><a class="button" href="#">CS 145</a>
  <div class="time-field">1 PM - 3 PM</div><a class="button" href="#">Finish Chem Problem Set</a>
  <div class="time-field">3 PM - 5 PM</div><a class="button" href="#">Sleep</a>
  <div class="time-field">5 PM - 6 PM</div><a class="button" href="#">Dinner with advisor</a>
-->
  <!--<a class="button" href="calendar">Go To Calendar</a>-->
  <br>
  <br>
  <br>

  <script>
  function sendAddEventData()
  {
    window.location = "add-event?" + data[0];
  }
  </script>
  <a id= "addEventBtn" class = "new-button-class" href="javascript:sendAddEventData();"> Add Event</a>

  <script>
  function sendAddSleepData()
  {
    window.location = "add-sleep?" + data[0];
  }
  </script>
  <a id= "addSleepBtn" class = "new-button-class" href="javascript:sendAddSleep"> Add Sleep</a>

  
  <!--<script type="text/javascript" src="js/webflow.js"></script>-->
</body>
</html>